
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
*.egg-info/
.eggs/
.installed.cfg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
